---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
---

<Layout>
    <PageTitle title="About" subtitle="0.77" />

    <div class="mt-4">
        <h2 class="text-gray-100 text-2xl font-bold border-b-2 border-gray-100 w-fit mt-2">Education</h2>
        <ul class="mt-2 flex flex-col gap-2">
            <li>
                <p>2023.03 - </p>
                <p>Korea University of Arts</p>
                <p>Multimedia (M.A)</p>
            </li>
            <li>
                <p>2017.03 - 2022.08</p>
                <p>Korea University of Arts</p>
                <p>Traditional Arts of Theory (B.A)</p>
            </li>
        </ul>
    </div>
</Layout>