---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
---

<Layout>
    <PageTitle title="Projects" subtitle="0dot77" />
    <div class="mt-4 flex flex-col">
        <div>
            <h2 class="text-gray-100 text-2xl font-bold border-b-2 border-gray-100 w-fit mt-2">2025</h2>
            <ul class="mt-2 flex flex-col gap-2">
                <li>
                    <h3>
                        Sanrio
                    </h3>
                </li>
            </ul>
        </div>
        <div class="flex justify-end">
            <h2 class="text-gray-100 text-2xl font-bold border-b-2 border-gray-100 w-fit mt-2">2024</h2>
            <ul class="mt-2 flex flex-col gap-2">
            </ul>
        </div>
    </div>
</Layout>