---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
---

<Layout>
    <PageTitle title="Weaving" subtitle="0.77" />
    <div class="mt-4 flex flex-col">
        <a href="/weaving/w-250328">
            <span class="text-gray-100">2025.03.28</span>
        </a>
    </div>
</Layout>