---
import '../styles/global.css';

interface Props {
    title: string;
    workTitle: string;
}

const { title, workTitle }: Props = Astro.props;
---

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body>
    <h1 class="absolute top-6 left-6 text-2xl font-bold text-white font-pretendard border-2 rounded-full border-white px-4 py-2">{workTitle}</h1>
    <a href="/weaving" class="absolute bottom-6 right-6 text-2xl font-bold text-white font-pretendard italic">0.77</a>
    <div id="three-container" class="w-full h-full"></div>
    <slot />
</body>
</html>